Q1. create one variable containing following types of data:

(1) string

In [1]:
a="kiki"

In [3]:
type(a)

str

(2) list

In [4]:
b=[1,2,3, "hello", True, 23.09]

In [5]:
type(b)

list

(3) float

In [6]:
c= 34.87

In [7]:
type(c)

float

(4) tuple

In [8]:
d= (1,2,3, 12.30)

In [9]:
type(d)

tuple

Q2. given are some following variables containing data: 
what will be the data type of the given variable.

(1) var1=' '

In [10]:
var1='world'

In [11]:
type(var1)

str

(2) var2='[DS,ML,Python]'

In [12]:
var2='[DS,ML,Python]'

In [13]:
type(var2)

str

(3) var3=['DS','ML','Python']

In [14]:
var3=['DS','ML','Python']

In [15]:
type(var3)

list

(4) var4=1

In [16]:
var4=1

In [17]:
type(var4)

int

Q3. explain the use of the following operators using an example:

(1) /

Division. divides the first operand by the second.

In [19]:
e=40
f=20
e/f

2.0

(2) %

Modulus. returns the remainder when the first operand is divided by second.

In [20]:
g=15
h=4
g%h

3

(3) //

floor division.

In [21]:
i=20
f=3
i//f

6

(4) **

Exponentiation. returns first raised to power second.

In [22]:
g=5
h=2
g**h

25

Q4. create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [29]:
s = [1,2,3,4, 23.56, True, 'world', False, 45.67, 'skills']

In [31]:
for i in s:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'bool'>
<class 'float'>
<class 'str'>

Q6. create a list containing 25 int type data. using for loop and if-else condition print if the element is divisible by 3 or not.

In [2]:
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

In [4]:
for i in l:
    if i%3==0:
        print(i)

3
6
9
12
15
18
21
24

Q7. what do you understand about mutable and immutable data type? give example for both showing this property.

mutable data refers to a database structure in which data can be changed.it replace the previous data record. example list,dictionary,set.

In [5]:
l1=[1,2,3,4,5]

In [6]:
l1[1]=7

In [7]:
l1

[1, 7, 3, 4, 5]

immutable data refers to objects that cannot be modified after they have been created. example strings tuples, etc.

In [8]:
l2=(1,2,3,4,5)

In [10]:
l2[1]=3

TypeError: 'tuple' object does not support item assignment